body{
		background-image: url(../images/cork-wallet.png);
		margin: 0px;
		width: 960px;
}
header{
		background: #4aaaa5;
		padding:30px 60px;
		color: white;
		width: 75px;
		text-align: center;
		font-family: 'Georgia', Times, "Times New Roman", serif;
		margin: 10px 75px;
		float: left;
		position: relative;
		left:100px;
		height: 30px;
}
#nav{
		background: #ffffff;
		color: #cccccc;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		padding-top: 45px;
		padding-left: 735px;
		padding-bottom: 40px;
		float: right;
		position: absolute;
		top: 0%;
		width: 33%;
		border-style: outset;
}
h1{
		background: #4aaaa5;
		color:#ffffff;
		font-family: 'Georgia', Times, Times New Roman, serif;
		font-size:30px;
		padding: 20px;
		margin-top: 31px;
		margin-left: 84px;
		z-index: 1;
		float: left;
		position: absolute;
}
h2{
		background: #ffffff;
		color: #4aaaa5;
		font-size: 33px;
		font-family: 'Georgia', Times, Times New Roman, serif;
		position: absolute;
		top:125px;
		z-index:1;
		margin-left: 99px;
}
form{
		background: white;
  		margin-left: 84px;
  		margin-top: 140px;
  		margin-right: 60px;
  		position: absolute;
  		width: 230px;
  		height: 250px;
  		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  		font-size: 14px;
  		line-height: 30px;
  		color: #09C;
  		text-decoration: none;
  		padding-top: 75px;
  		padding-left: 10px;
  		padding-right: 164px;
  		padding-bottom: 20px;
  		border: 1px solid #999;
}
input {
	  width: 375px;
  	display: block;
  	border: 1px solid #999;
  	height: 35px;
}
textarea#feedback {
  	width: 375px;
  	height: 150px;
  	display: block;
}
button {
  	width: 100px;
  	position: absolute;
  	margin-right: 273px;
  	margin-bottom: -10px;
  	right: 20px;
  	bottom: 20px;
  	background: #4aaaa5;
  	color: #fff;
  	font-family: Tahoma, Geneva, sans-serif;
  	height: 30px;
  	border: 1px solid #999;
}
#links{

		float: right;
		background: white;
		font-family: 'Georgia', Times, Times New Roman, serif;
		position: relative;
		margin-top: 140px;
		padding-top:20px;
		padding-bottom: 35px;
		padding-right: 60px;
		padding-left: 60px;
		border-style: solid;
		border-width: 2px;
		border-color: #cccccc;
}
#bottom{
		background: #666666;
		color: #cccccc;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		padding-top: 18px;
		padding-bottom: 70px;
		width: 103%;
		height: 50px;
		text-align: center;
		position: absolute;
		top: 80%;
		margin-left: -10px;
		border-style: solid;
		border-top: solid 10px #4aaaab;
}
